function guardarDatosUsuarios(){
  var nombre = txtnombre.value;
  localStorage.setItem("nombre",nombre);
  sessionStorage.setItem("nombre",nombre);
}

function recuperarDatosUsuarios() {
  var local = localStorage.getItem("nombre");
  var session = sessionStorage.getItem("nombre");
  alert ("local: " + local + " session: " + session);
  txtnombre.value = local
}
